* {
    box-sizing: border-box;
}

body {
    width: 300px;
    margin: 0;
    background: #fff;
}

.row {
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    /* position: relative; */
    margin: 1px 1px 1px 1px;
    padding: 10px 0px;
    list-style-type: none;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.url-title {
    width: 100%;
    margin-right: 10px;
}

.delete-button {
    cursor: pointer;
    /* flex: 0 0 10px; */
    /* position: absolute; */
    /* right: 0; */
    /* top: 0; */
    /* padding: 12px 16px 12px 16px; */
}

.delete-button:hover {
    color: red;
}

.input-wrapper {
    text-align: center;
    overflow: hidden;
}

.input-url {
    width: 100%;
    font-size: 13px;
}

.input-button {
    margin: 10px 0px;
    float: right;    
    text-align: center;
    font-size: 13px;
}

hr {
    border: 1px solid lightgrey;
}

footer {
    background-color: rgb(123, 123, 123);
    color: white;
    padding: 10px;
}

footer a {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

footer a:hover {
    font-weight: bold;
}

footer a:visited {
    text-decoration: none;
}

footer div {
    margin: 5px 0px;
}